/* Layout */

body {
    background-image: url("pictures/bg.png");
    background-repeat: repeat-x;
    background-color: #ffffff;
}

p {
	margin:0;
	padding:0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}




#snackbar {
    visibility: hidden;
    font:bold 15pt Arial, Helvetica, sans-serif;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbartwo {
    visibility: hidden;
    font:bold 15pt Arial, Helvetica, sans-serif;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

#snackbartwo.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}












.button1 {
    background-color: #ffffff;
    color: #000000;
    font:bold 15pt Arial, Helvetica, sans-serif;
    border-radius:10px;
    border:2px solid #000000;
    padding:10px;
    padding-left: 25pt;
    padding-right: 25pt;
    outline: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1:hover {
    background-color: #000000;
    color: #ffffff;
}

.button2 {
    background-color: #ffffff;
    color: #000000;
    font:bold 30pt Arial, Helvetica, sans-serif;
    border-radius:10px;
    border:3px solid #000000;
    padding:10px;
    padding-left: 25pt;
    padding-right: 25pt;
    outline: none;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2:hover {
    background-color: #000000;
    color: #ffffff;
}


#wrapper {
	margin:0 auto;
	width:1200px;
}

#wrappertwo {
	margin:0 auto;
	width:500px;
}


#footer {
    background-color: #0F0F0F;
    color: #ffffff;
    font:15px Arial, Helvetica, sans-serif;
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
    clear:both;
}

h1 {
	color:#ffffff;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 22px "Lucida Console", Monaco, monospace;
}

h2 {
	color:#ffffff;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 32px "Lucida Console", Monaco, monospace;
}

h3 {
	color:#FFFFFF;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 50px Arial, Helvetica, sans-serif;
}

h4 {
	color:#FFFFFF;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 50px "Lucida Console", Monaco, monospace;
}

h5 {
	color:#000000;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 30px "Lucida Console", Monaco, monospace;
}

h6 {
	color:#000000;
	margin:0 0 10px;
	padding-bottom:10px;
	font:normal 25px "Lucida Console", Monaco, monospace;
}

h7 {
    color:#FFFFFF;
    margin:0 0 10px;
    padding-bottom:10px;
    font:normal 40px Arial, Helvetica, sans-serif;
}
